dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

tr[data-mealExcess="false"] {
    color: green;
}

tr[data-mealExcess="true"] {
    color: blue;
}

header, footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 6px 0;
}

.update, .delete {
    font-weight: 400;
    color: white;
    margin-top: 12px;
    text-decoration: none;
    padding: .3em 1em calc(.3em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}